.case-study-item{background:#017AC9;color:white;height:380px}.case-study-item h4{font-style:italic;margin-bottom:14px;font-size:24px}.case-study-item p{font-size:12px}.case-study-item:nth-child(odd){background:#002868}
