.project{height:280px;position:relative}.project .green-bar{background:transparent;height:10px;position:absolute;top:0;width:100%}.project:hover{cursor:pointer}.project:hover .green-bar{background:#8FCA45}
