@import "variables.scss";

#carouselExampleControls {
    //z-index: 10;

    .carousel-inne, .carousel-item{
        height: 500px;

        @media (min-width: 768px) {
            height: 640px;
        }
    }

    .caption {
        color: white;

        h2 {
            font-size: 35px;
            font-weight: 300;
        }
        
    }

    .carousel-control-prev-icon {
        background-image: url("resources/arrow-prev-white.png");
        width: 30px;
        height: 30px;
        background-size: 100%;
        display: none;

        @media (min-width: 1200px) {
            display: block;
        }
    }

    .carousel-control-next-icon{
        background-image: url("resources/arrow-next-white.png");
        width: 30px;
        height: 30px;
        background-size: 100%;
        display: none;

        @media (min-width: 1200px) {
            display: block;
        }
    }

    .carousel-indicators {
        z-index: 9;
    }
    .carousel-indicators li{
        width: 10px;
        height: 10px;
        margin: 4px;
        border-radius: 50%;
        border: 1px solid white;
        background: transparent;
    }

    .carousel-indicators li.active{
        background: white;
    }
    
}