@import 'variables.scss';

.case-study-item  {
    background: $blue;
    color: white;
    height: auto;

    @media (min-width:992px) {
        height: 380px;
    }

    .row {

        @media (min-width:992px) {
            width: 100%;
            height: 100%;
        }
    }

    h4 {
        font-style: italic;
        margin-bottom: 14px;
        font-size: 24px;
        color: white;
    }

    a:hover {
        text-decoration: none;
    } 

    p {
        font-size: 12px;
    }

    
    .linked-box {
        cursor: pointer;
        height: 240px;

        @media (min-width:992px) {
            height: 100%;
        }

        .zoom {
            transition: transform .5s;
    
            &:hover {
                transform: scale(1.05); 
            }
        }
    }

}

.case-study-item:nth-child(odd) {
    background: $dark_blue;
}
