@import 'variables.scss';

header {

    position: absolute;
    z-index: 10;
    background: $dark-blue;

    @media (min-width: 992px) {
        background: rgba(0,0,0,0.4);
    }
    

    .top-nav{
        background: $dark-blue;
        padding: 11px 0;
        a {
            color: white !important;
            font-size: 13px;
            margin-left: 30px;

            &:hover {
                text-decoration: none;
                cursor: pointer;
                opacity: 0.7;
            }
        }

        img {
            margin-right: 7px;
            height: 15px;
            vertical-align: sub;
        }
    }

    .navbar {

        padding: 0;

        @media (min-width: 992px) {
            padding: 20px 0 35px 0;
        }

        .nav-link {
            color: white;
            padding: 15px 0 !important;
            font-size: 15px;
            border-bottom: 2px solid transparent;
            text-align: center;
            //border-bottom: 1px solid rgba(255, 255, 255, 0.4)!important;

            @media (min-width: 992px) {
                margin: 0 10px;
                font-size: 12.5px;
                padding: 4px 0 !important;
                text-align: left;

                &:hover {
                    border-bottom: 2px solid $green;
                    transition: border 1s;
                }
            }

            @media (min-width: 1200px) {
                font-size: 13px;
                margin: 0 18px;
            }
            
        }

        .sublink {
            font-size: 13px;
            padding-top: 0px !important;
        }

        .mobile-toggle {
            padding-bottom: 11px !important;
        }

        .active {

            span {
                padding-bottom: 5px;
                border-bottom: 2px solid $green;
            }

            @media (min-width:992px) {
                border-bottom: 2px solid $green;
            }
            
        }

        img {
            height: 45px;
            margin: 0 16px;
            margin-top: -5px;

            @media (min-width: 1200px) {
                height: 50px;
                margin: 0 25px;
            }
        }
    }

    /* Dropdown */
    .dropdown .nav-link:hover {
      //  border-bottom: 2px solid transparent;
    }

    .dropdown:hover .dropdown-menu {

        a {
            cursor: pointer;
        }

        @media (min-width:992px) {
            cursor: pointer !important;
            display: block;
        }
    }

    .dropdown-menu {
        background: transparent;
        padding: 0;
        padding-top: 10px;
        border: none;
        min-width: auto !important;

        div {
            background: white;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 13px;
            padding-bottom: 13px;
            width: 100%;
        }

        a {
            //color: white !important;
            color: #212529;
            font-size: 14px;
            padding: 0 !important;
            text-align: center;
            border-bottom: 2px solid transparent;
            

            &:hover {
                background: transparent;
                //background: white;
                border-bottom: 2px solid $green;

            }
        }
    }

    .dropdown-toggle::after {
        content: none;
    }
}

/* Header nav icon animation */

.icon-bar {
	width: 22px;
	height: 2px;
	display: block;
	transition: all 0.2s;
	margin-top: 4px;
}
.navbar-toggler {
    border: none;
    padding: 0;
        
    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
        background: white !important;
    }

    .middle-bar {
        opacity: 0;
        background: white !important;
    }

    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
        background: white !important;
    }
}
.navbar-toggler:focus{
	  outline: none;
}

.navbar-toggler.collapsed  {
    .top-bar {
        transform: rotate(0);
    }
    .middle-bar {
        opacity: 1;
    }
    .bottom-bar {
        transform: rotate(0);
    }
}

/* Tooltip */
.tooltip-info{
    display: none;
    position: absolute;
    bottom: -75px;
    left: -20px;
    background: rgba(255,255,255,0.95);
    width: 240px;
    font-size: 11.5px;
    z-index: 9999;
    text-align:center;
    padding: 10px 10px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: $dark_gray;
}

.show-tooltip:hover + .tooltip-info {
    display:inline !important;
}
