@import 'variables.scss';

.info-person-container, .info-project-container {
    position: absolute; 
    top: 0;
    display: none;
}

.info-person-container, .info-project-container, .info-person-modal, .info-project-modal{
    
    .info-person {
        height: 862px !important;
        width: 100%;

        @media (min-width: 768px) {
            height: 576px !important;
        }

        @media (min-width: 992px) {
            width: 620px;
        }
    
        @media (min-width: 1200px) {
            width: 741px;
        }
    }

    .info-project {
        height: 862px !important;
        width: 100%;

        @media (min-width: 768px) {
            height: 647px !important;
        }

        @media (min-width: 992px) {
            width: 695px;
        }
    
        @media (min-width: 1200px) {
            width: 830px;
        }
    }

    .info-project-selected {
        height: 432px !important;
        width: 100%;

        @media (min-width: 768px) {
            height: 432px !important;
        }

        @media (min-width: 992px) {
            width: 695px;
        }
    
        @media (min-width: 1200px) {
            width: 830px;
        }
    }

    .info-person, .info-project{
        border: 3px solid white;   
        background: #F3F3F4; 
        padding: 25px 25px;
    
        .view-cs {
            margin: 0;
            background: transparent;
        }

        hr {
            margin-bottom: 10px;
        }

        .image {
            height: 220px;
            width: auto;

            @media (min-width: 768px) {
                height: auto;
                width: 100%;
            }
        }

        .logo {
            max-width: 50%;
            max-height: 100px;
            width: auto;
            height: auto;
            
            @media (min-width: 768px) {
                height: auto;
                width: 100%;
                max-width: none;
                max-height: none;
                margin-bottom: 20px;
            }
            
        }

        .name {
            color: $dark_purple;
            font-weight: 300;
            font-size: 17px;
            margin-bottom: 5px;
        }

        .role {
            font-style: italic;
            font-size: 17px;
        }

        .bio p {
            font-size: 14px;
        }

        .title {
            font-weight: 500;
            color: $dark_purple;
            margin-bottom: 3px;
            font-size: 14px;
        }
        
        .equity {
            font-size: 17px;
            font-weight: 400;
            margin-top: 5px;
            color: $purple;

            @media (min-width:992px){
                margin-top: 20px;
                font-size: 50px;
            }
        }

        .description, .status, .investment, .directors {
            font-size: 14px;
            margin-bottom: 8px;
        }

        .close-person, .close-project {
            text-transform: uppercase;
            font-size: 13px;
            margin-top: 15px;
            
            img {
                width: 20px;
                height: 20px;
                margin-left: 12px;
                vertical-align: sub;
            }

            p {
                font-size: 13px;
            }

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }

        .social {
            background: #7A7A7A;
            height: 40px;
            width: 40px;
            border-radius: 50%;

            &:hover {
                background: $purple;
            }

            .fab {
                color: #F3F3F4;
                padding: 11px 13px;
                font-size: 18px;
            }
        }
    }
}

#postModal {

    .modal-body{
        padding: 0;
    }
    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 741px;
            margin: 1.75rem auto;
        }
    }
    
}
