.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

#modalVideo, #modalFileVideo{

    .modal-content {
        border-radius: 0;
        border: none;
        background-color: transparent;

        .modal-body {
            padding: 0;
        }
    }

    
    .modal-dialog {

        @media (min-width: 1200px) {
            max-width: 1100px;
        }
        
    }

    .close-video {
        position: absolute; 
        top: 25px; 
        width: 100%; 
        right: 0;
        text-align: right;
        
        img {
            width: 20px;
            height: 20px;
            margin-right: 9px;
            vertical-align: text-bottom;
        }

        a {
            color: white;
            margin-right: 30px;
            font-size: 13px;

            &:hover {
                text-decoration: none;
            }
        }
    }
}