@import 'variables.scss';

.prev-article, .prev-media {
    background-image: url('resources/arrow-prev.svg');
    background-size: 20px 25px;
    background-repeat: no-repeat;
    width: 20px;
    border: none;
    height: 25px;
    margin-right: 18px;

    &:focus {
        outline: none;
    }

    &:hover {
        opacity: 0.7;
    }
}

.next-article, .next-media {
    background-image: url('resources/arrow-next.svg');
    background-size: 20px 25px;
    background-repeat: no-repeat;
    width: 20px;
    border: none;
    height: 25px;
    margin-left: 18px;

    &:focus {
        outline: none;
    }

    &:hover {
        opacity: 0.7;
    }
}

.prev-article:disabled, .next-article:disabled {
    opacity: 0.4;
}

.prev-media:disabled, .next-media:disabled {
    opacity: 0.4;
}