@import "partials/variables.scss";

body {
    font-family: $merriweather;
    color: $dark_gray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1 {
    color: $dark_purple;
    font-weight: 300;
    font-size: 28px;
}

h3 {
    color: $dark_purple;
}

h4 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 13px;
}

b, strong {
    font-weight: 600;
}

/*
p {
    font-size: 14px;
    line-height: 23px;
}*/

.layer {
    top: 0;
    position: absolute;
    background: rgba(0,0,0,0.3);
}

.light-layer {
    top: 0;
    position: absolute;
    background: rgba(0,0,0,0.2);
}

.color-white {
    color: white;
}

.link {
    border: 1px solid $green;
    color: white !important;
    padding: 10px 20px;
    font-size: 12px;

    &:hover{
        text-decoration: none;
        color: white;
        outline: $green solid 1px;
        cursor: pointer;
    }
}
                                                    
.bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner {
    height:250px;

    @media (min-width:992px) {
        height:400px;
    }
}

.banner-big {
    height:250px;

    @media (min-width:992px) {
        height: 500px;
    }
}

.empty-banner {
    height: 60px;

    @media (min-width:992px) {
        height: 200px;
    }
}


@import "partials/content.scss";
@import "partials/header.scss";
@import "partials/carousel.scss";
@import "partials/grid.scss";
@import "partials/search_box.scss";


.video-thumbnail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
}

@import "partials/vimeo_embed.scss";
@import "partials/person.scss";
@import "partials/projects.scss";
@import "partials/info_container.scss";




@import "partials/case_study_item.scss";
@import "partials/more_case_studies.scss";

footer {
    background: $dark_purple;
    color: white;

    .footer-menu {

        a, p {
            font-weight: 500;
            font-size: 13px;
            color: white;
            margin: 0;

            &:hover {
                text-decoration: none;
            }
        }

        img {
            height: 60px;
        }
    }

}

@import "partials/modal_video.scss";
@import "partials/article_item.scss";
@import "partials/pagination.scss";


p {
    font-size: 14px;
    font-weight: 300;

    .current {
        color: $dark_purple;
        font-weight: 500;
    }
}

ul {
    font-size: 14px;
    font-weight: 300;
    padding-left: 19px;
    list-style-position: outside;
}

.item-media {
   

    .title {
        color: $dark_purple;
        font-weight: 400;
        margin-top: 13px;
        font-size: 17px;
    }

    .linked-box {
        cursor: pointer;
    }
}

.container-video {

    cursor: pointer;

    .zoom {
        transition: transform .4s;
    }

    &:hover {
        .zoom {
            transform: scale(1.03); 
            transition: transform .4s;
        }
    }
    
}


.text-grid{
    .box {
        background: #e0eff9;
        height: 190px;

        hr {
            margin: 15px 0 25px 0;
            width: 100px;
        }

        p {
            color: $purple;
            font-size: 19px;
            font-weight: 500;
            letter-spacing: 0.09px;
            line-height: 28px;
        }
    }
}

.text-grid-icons{
    .box {
        height: 180px;

        img {
            height: 45px;
        }

        hr {
            margin: 15px 0 15px 0;
            width: 80px;
        }

        p {
            color: $purple;
            font-size: 19px;
            font-weight: 500;
            letter-spacing: 0.09px;
            line-height: 28px;
        }
    }
}

.text-grid-list {

    p {
        color: $dark_purple;
        font-weight: 500;
        font-size: 14px;
    }

    hr {
        border: 1px solid #e2e2e2;
        width: 100%;
    }
}

@import "partials/chart.scss";